body {
    background: black;
    color: white;
}

#word_wrapper {
    display: flex;
    //align-items: center;
    //justify-content: center;
}

#word_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(85,102,0);
    width: 100%;
    padding: 4vh;
    margin-left: 4vh;
    margin-right: 25vh;
    min-height: 15vh;
    border-radius: 3rem;
}

#word {
    font-size: 20vh;
    font-weight: bold;
    text-align: center;
}


.circular_element {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    background: rgb(153,0,0);
}


.circular_text {
    font-size: 20vh;
    text-align: center;
}


#points_container {
    right: 2vh;
    top: 20vh;
}

#timer_container {
    right: 2vh;
    bottom: 2vh;
}
